/*
 * Grid
 *
 */

$container: 610px;
$mail-body: 700px;
$container-gutters: 10px;

/*
 * Fonts
 *
 */

$font-main: "Roboto", Arial, sans-serif;
$font-second: "Lobster", Arial, cursive;

/*
 * Color
 *
 */

$color-white: #ffffff;
$color-black: #000000;

$color-text: #747d8c;
$color-text-white: $color-white;
$colo-text-title: #494949;
$colo-text-footer: #848d94;

$color-link: #848d94;

$color-bg: $color-white;
$color-bg-2: #6cb8da;
