<!-- FOOTER STARTS -->
+IE({width: '450' ,aling: 'center', valing: 'top'})
div(style="display: inline-block; width: 100%; max-width: 450px; vertical-align: top;")
	table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;")
		tr
			td(align="center")
				table.table-img(align="center" border="0" cellpadding="0" cellspacing="0")
					tr
						td(align="left" valign="middle" width="36")
							a.link(href="#")
								+img({img: 'img-fb-36-27.jpg', alt: 'fb', width: '36' , height: '27'})
						td(width="19" style="mso-line-height-rule: exactly; line-height: 5px; font-size: 5px;")
							|&nbsp;
						td(align="left" valign="middle" width="36")
							a.link(href="#")
								+img({img: 'img-vk-36-27.jpg', alt: 'vk', width: '36' , height: '27'})
						td(width="19" style="mso-line-height-rule: exactly; line-height: 5px; font-size: 5px;")
							|&nbsp;
						td(align="left" valign="middle" width="36")
							a.link(href="#")
								+img({img: 'img-odn-36-27.jpg', alt: 'odn', width: '36' , height: '27'})
						td(width="19" style="mso-line-height-rule: exactly; line-height: 5px; font-size: 5px;")
							|&nbsp;
						td(align="left" valign="middle" width="36")
							a.link(href="#")
								+img({img: 'img-tw-36-27.jpg', alt: 'tw', width: '36' , height: '27'})
		tr
			+td-margin({height: '26'})
		tr
			td.text.text--sm(align="center") 620014, Российская Федерация, г. Екатеринбург, ул. Сакко и Ванцетти, 
				a.link.link--no-decor(href="tel:+6788001000200 ") 678-800-1000-200 
				| E-mail: 
				a.link.link--no-decor(href="mailto:email.com") email.com
				|. 
				a.link(href="#" target="_blank") Перейти на наш сайт
		tr
			+td-margin({height: '37'})
|!{IE_TABLE_END}
<!-- FOOTER ENDS -->