<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
html(lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
	include include/head.pug
	+head('Home')

	body()
		ul.intro-page__list
			li
				h1.intro-page__list-title Emails logo mail2
				img(src="images/img-logo-214-56.jpg" alt="logo")
			li
				a(href="email-1.html" target="_blank") email-1
			//- li
			//- 	a(href="email-2.html" target="_blank") email-2